<header th:insert="~{blocks/top ::top}">::after</header>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="ru">
<section class="db-questions  bg-white">
    <div class="container">
        <input type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}"/>

        <div class="row" th:each="el:${smenas}">

            <div class="list-group ">

                <a th:href="'/viewday/'+${el.getId()}" type="button" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <div class="col-2 color1">
                            <small th:text="${el.getDescription()}"/>
                        </div>
                        <div class="col-2">
                            <span th:each="gb:${el.getGroupBookings()}">

                                <small th:text="'Групповой заезд: '+${gb.getOwner().getFullname()}+': '+${gb.getHomeReservations().size()}+' домиков'"/>

                            </span>
                        </div>
                        <div class="col-1 ">
                            <span th:if="${el.gethomeReservationByhomeID(1)==null}">
                                <h6 class="colorgrey">(-)</h6>
                            </span>
                            <small th:text="${el.gethomeReservationByhomeID(1)!=null}?${el.gethomeReservationByhomeID(1).getOwner().getFullname()}"/>
                        </div>
                        <div class="col-1 ">
                            <span th:if="${el.gethomeReservationByhomeID(2)==null}">
                                     <h6 class="colorgrey">(-)</h6>
                            </span>
                            <small th:text="${el.gethomeReservationByhomeID(2)!=null}?${el.gethomeReservationByhomeID(2).getOwner().getFullname()}"/>
                        </div>
                        <div class="col-1 ">
                          <span th:if="${el.gethomeReservationByhomeID(3)==null}">
                                     <h6 class="colorgrey">(-)</h6>
                            </span>
                            <small th:text="${el.gethomeReservationByhomeID(3)!=null}?${el.gethomeReservationByhomeID(3).getOwner().getFullname()}"/>
                        </div>
                        <div class="col-1">
                            <span th:if="${el.gethomeReservationByhomeID(4)==null}">
                                     <h6 class="colorgrey">(-)</h6>
                            </span>
                            <small th:text="${el.gethomeReservationByhomeID(4)!=null}?${el.gethomeReservationByhomeID(4).getOwner().getFullname()}"/>
                        </div>
                        <div class="col-1 ">
                            <span th:if="${el.gethomeReservationByhomeID(5)==null}">
                                     <h6 class="colorgrey">(-)</h6>
                            </span>
                            <small th:text="${el.gethomeReservationByhomeID(5)!=null}?${el.gethomeReservationByhomeID(5).getOwner().getFullname()}"/>
                        </div>
                        <div class="col-1 ">
                             <span th:if="${el.gethomeReservationByhomeID(6)==null}">
                                     <h6 class="colorgrey">(-)</h6>
                            </span>
                            <small th:text="${el.gethomeReservationByhomeID(6)!=null}?${el.gethomeReservationByhomeID(6).getOwner().getFullname()}"/>
                        </div>
                        <div class="col-1 ">
                             <span th:if="${el.gethomeReservationByhomeID(7)==null}">
                                     <h6 class="colorgrey">(-)</h6>
                            </span>
                            <small th:text="${el.gethomeReservationByhomeID(7)!=null}?${el.gethomeReservationByhomeID(7).getOwner().getFullname()}"/>
                        </div>
                        <div class="col-1 ">
                             <span th:if="${el.gethomeReservationByhomeID(8)==null}">
                                     <h6 class="colorgrey">(-)</h6>
                            </span>
                            <small th:text="${el.gethomeReservationByhomeID(8)!=null}?${el.gethomeReservationByhomeID(8).getOwner().getFullname()}"/>
                        </div>
                    </div>

                </a>
            </div>

        </div>

        <hr/>


    </div>
</section>
<footer th:insert="~{blocks/footer ::footer}"></footer>

<script src="/js/bootstrap.bundle.min.js"></script>

</html>