<header th:insert="~{blocks/top ::top}"></header>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html" lang="ru">
<section class="db-questions  bg-white">
    <div class="container" style="max-width: 960px">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center  color2">Ваша заявка принята к рассмотрению</h1>
               <h2 class="text-center color1"><br>Окончательное подтверждение бронирования поступит на почту</h2>

                <!--                <div class="container" style="max-width: 960px;">-->
            </div>
            <!--            </div>-->
        </div>

    </div>
</section>




        <footer th:insert="~{blocks/footer ::footer}"></footer>

<script src="/js/bootstrap.bundle.min.js"></script>

</html>