<header th:insert="~{blocks/top ::top}"></header>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="ru">
    <section class="bg-white dg-about ">
        <div class="container">
<!--            <h2 class="text-center mb-5 color2">О нас</h2>-->
            <div class="row " style="padding-bottom: 50px">

                <div class="col-2 d-none d-sm-block"></div>
                <div class="col-md-8 col-sm-12 ">
                    <h4 class="color2">О нас</h4>
                    <p>
                        Переделки - современный глемпинг с комфортными условиями. В наших домиках вы сможете расслабиться и отдохнуть от городской суеты.
                        Домики оборудованы всеми необходимыми удобствами для комфортного проживания. Вас ждёт незабываемый отдых с семьей, в компании коллег и друзей.
                        Наши домики расположены в Одинцовском районе Московской области в живописном лесу рядом со знаменитым писательским поселком Переделкино.

                    </p>
                </div>
                <div class="col-2 d-none d-sm-block" ></div>
            </div>
            <div class="row" style="padding-bottom: 50px">
                <div class="col-2 d-none d-sm-block"></div>
                <div class="col-md-8 col-sm-12 " style="">
                    <a href="#service"><h4 class="color2">Сервисы</h4></a>
                    <p>
                    Все домики двух комнатные (максимальное размещение 4 человека) с кондиционером и ванной комнатой.
                        Рядом с домиками оборудована летняя кухня (оснащенная плитой, холодильником и всей
                        необходимой посудой), мангальная зона. На всей территории
                        комплекса есть бесплатный wi-fi. Охраняемая парковка. <a href="#service">подробнее...</a>
                    </p>
                </div>
                <div class="col-2 d-none d-sm-block"></div>
            </div>
            <div class="row" style="padding-bottom: 50px">
                <div class="col-2 d-none d-sm-block"></div>
                <div class="col-md-8 col-sm-12 ">
                    <a href="#contacts"><h4 class="color2">Администратор</h4></a>
                    <p>
                        На территории наших домиков круглосуточно находится администратор, который поможет решить
                        все необходимые вопросы и позаботится о высоком уровне комфорта вашего отдыха.
                    </p>
                </div>
                <div class="col-2 d-none d-sm-block"></div>
            </div>
            <div class="row" style="padding-bottom: 50px">
                <div class="col-2 d-none d-sm-block"></div>
                <div class="col-md-8 col-sm-12 " style="">
                    <h4 class="color2">Питание</h4>
                    <p>
                    Утром вас будет ждать вкусный и полезный завтрак. На выбор предоставляются: йогурты,
                        каши, нежнейшие сырники и блинчики и тд. Запланирован один ужин в формате барбекю.
                    </p>
                </div>
                <div class="col-2 d-none d-sm-block"></div>
            </div>
            <div class="row" style="padding-bottom: 50px">
                <div class="col-2 d-none d-sm-block"></div>
                <div class="col-md-8 col-sm-12 r">
                    <h4 class="color2">Чем заняться (фото с игрой)</h4>
                    <p>
                    На территории туристического центра вы можете взять в прокат
                        спортивный инвентарь, настольные игры, гитару, поиграть в дартс и настольный теннис.
                        Для детей есть детская площадка с батутом и мини-зоопарк.
                    </p>
                </div>
                <div class="col-2 d-none d-sm-block"></div>
            </div>
            <div class="row" style="padding-bottom: 50px">
                <div class="col-2 d-none d-sm-block"></div>
                <div class="col-md-8 col-sm-12 " style="">
                    <h4 class="color2">Экскурсии</h4>
                    <p>
                        В рамках заезда всем участникам будет предложено посещение одной бесплатной экскурсии.
                    </p>
                </div>
                <div class="col-2 d-none d-sm-block"></div>
            </div>

        </div>

    </section>
    <section class="dg-service  bg-grey">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p><a id="service"></a></p>
                    <h2 class="text-center mb-5 color1">Сервис</h2>
                </div>
                <div class="row" >
                    <h4 class="color1"><i class="demo-icon icon-lodging"></i> Проживание</h4>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12 bd-code-snippet">
                        <h5 class="color1 mb-4 text-center"> Двухкомнатные коттеджи</h5>
                        <h6 >Спальня 1:  </h6>
                        <p>
                            2 односпальные кровати.
                        </p>
                        <h6 >Спальня 2:</h6>
                        <p>
                            1 односпальная кровать, есть возможность поставить доп. кровать для ребенка (раскладушка).
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-12 bd-code-snippet">
                        <h5 class="color1 mb-4 text-center">В домике</h5>
                        <p>
                        <ul style="list-style-type: disc">
                            <li>Кондиционер</li>
                            <li>Холодильник</li>
                            <li>Чайник , чашки, стаканы</li>
                            <li>Ванная комната в домике</li>
                            <li>Чистые полотенца и постельное белье</li>
                            <li>Комнатные тапочки</li>
                            <li>Туалетное мыло (жидкое)</li>
                            <li>Фумигатор</li>
                        </ul>
                        </p>

                    </div>
                    <div class="col-md-4 col-sm-12 bd-code-snippet">
                        <h5 class="color1 mb-4 text-center">Общая зона</h5>
                        <p>
                        <ul style="list-style-type: disc">
                            <li>Беседка с микроволновой печкой и плитой</li>
                            <li>Одноразовая посуда</li>
                            <li>Чай, кофе</li>
                            <li>Питьевая вода (кулер и индивидуальные бутылочки)</li>
                            <li>Настольные игры</li>
                            <li>Мангальная зона</li>
                            <li>Утюг, фен</li>
                        </ul>
                        </p>
                    </div>
                </div>
                <div class="row mt-5">
                    <h4 class="color1"><i class="demo-icon icon-food"></i></i> Питание</h4>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12 bd-code-snippet">
                        <h5 class="color1 mb-4 text-center"> Завтрак</h5>
                        <p>
                            Участники заездов обеспечиваются завтраками со вторника по четверг
                        </p>
                        <p>
                            Питание организуется в беседке рядом с домиками с 08:30 до 9:30.
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-12 bd-code-snippet">
                        <h5 class="color1 mb-4 text-center"> Обед</h5>
                        <p>
                            В рамках экскурсии участники оплачивают самостоятельно.
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-12 bd-code-snippet">
                        <h5 class="color1 mb-4 text-center"> Ужин</h5>
                        <p>
                            Во вторник готовится участниками группы с использованием набора для барбекю (мясо, овощи, хлеб, специи – предоставляется в турцентре).
                        </p>
                        <p>
                            <i class="demo-icon icon-glass"></i><i class="demo-icon icon-beer"></i>  Напитки в набор продуктов не входят.
                        </p>
                    </div>
                </div>
                <div class="row mt-5 ">
                    <div class="col-2 d-none d-sm-block"></div>


                    <div class="col-md-8 bd-code-snippet ">
                        <h4 class="color1"><i class="demo-icon icon-dribbble"></i></i></i> Развлечения и спорт</h4>
                        <p class="">
                        <ul style="list-style-type: disc">
                            <li>Настольный теннис</li>
                            <li>Спортивные инвентарь: бадминтон, фрисби, дартс, петанк</li>
                            <li>Настольные игры, гитара</li>
                            <li>Рыбалка (под запрос)</li>
                            <li>Детская площадка и батут</li>
                        </ul>
                        </p>

                    </div>
                    <div class="col-2 d-none d-sm-block"></div>

                </div>
            </div>
        </div>
    </section>
    <section class="dg-photo  bg-white">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-center mb-5 color2">Фотоотчет</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-2 d-none d-sm-block"></div>


                <div class="col-md-8  ">
                    <div id="carouselExampleFade" class="carousel slide carousel-fade mycourusel" data-bs-interval="3000" >
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/img/сar/1.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="/img/сar/2.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="/img/сar/3.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="/img/сar/4.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="/img/сar/5.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="/img/сar/6.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="/img/сar/7.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="/img/сar/8.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="/img/сar/9.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="/img/сar/10.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="/img/сar/11.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="/img/сar/12.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col-2 d-none d-sm-block"></div>

            </div>
        </div>
    </section>
    <section class="dg-road  bg-grey">
        <div class="container ">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-center mb-5 color1">Как добраться</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12 ">
                    <h4 >База отдыха Переделки</h4>
                        <h5 class="mt-5">Общественным транспортом</h5>
                        <p>На автобусе с киевского вокзала до остановки Магазин, Дальше пешком до КПП.</p>
                        <h5 class="mt-5">На собственном автомобиле</h5>
                        <p>Адрес для навигатора: Переделки, Московская область. Липовая аллея 7</p>

                </div>
                <div class="col-md-6 col-sm-12">
                    <div class='embed-container mt-3 md-3'><iframe
                            src='https://yandex.ru/map-widget/v1/?um=constructor%3Ab2ca37e42d6b9ecc24fbed526d84ba3e15f22923394b3394823b260605e99e3f&source=constructor'
                            width='766' height='485' frameborder='0'></iframe></div>
                </div>

            </div>
        </div>
    </section>
    <section class="dg-contacts  bg-white">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p><a id="contacts"></a></p>
                    <h2 class="text-center mb-5 color2">Контакты</h2>
                    <div class="row row-cols-1 row-cols-md-4 g-4"  >
                        <div class="col">
                            <div class="card h-100">
                                <img src="/img/IMG_0098.PNG" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Ольга Львович</h5>
                                    <p class="card-text"><b>Администратор</b> <br>встречает и помогает с размещением, организацией отдыха на территории, информирует по оперативным вопросам<br>+7(977)5882292</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img src="/img/IMG_0097.JPG" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Охрана турцентра</h5>
                                    <p class="card-text"><b>Охрана</b><br> заезд и выезд с территории, помощь в нештатных ситуациях<br>+7(495)591-05-41</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img src="/img/IMG_0098.PNG" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Татьяна Меланич</h5>
                                    <p class="card-text">Координатор Туристического центра<br>+7(916)582-86-46</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img src="/img/anastasiia.HEIC" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Анастасия Долгих</h5>
                                    <p class="card-text">Ответственный от ВСК<br>+7(965)360-05-17</p>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </section>






    <div class="modal fade" id="Modal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
              <div class="modal-content">
                    <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">Туристический центр Переделки</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
                    </div>
                    <div class="modal-body">
                        <style>
                            .embed-container {
                                position: relative;
                                padding-bottom: 56.25%;
                                height: 0;
                                overflow: hidden;
                                max-width: 100%;
                            }

                            .embed-container iframe,
                            .embed-container object,
                            .embed-container embed {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                            }
                        </style>
                        <div class='embed-container'><iframe src='https://www.youtube.com/embed//XMxhfZPjepM' frameborder='0'
                                allowfullscreen></iframe></div>


                        <script src="js/bootstrap.bundle.min.js"></script>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-lg btn-itd " style="margin: unset;" data-bs-dismiss="modal">Закрыть</button>
                    </div>
              </div>
        </div>

    </div>

    <footer th:insert="~{blocks/footer ::footer}"></footer>


</html>