<header th:insert="~{blocks/top ::top}"></header>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="ru">
<section class="db-questions  bg-white">
    <div class="container" style="max-width: 960px">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center  color2">Бронирование домика</h2>
                <h2 class="text-center mb-5 color2" >Детальная информация о бронировании</h2>
            </div>
            <!--            </div>-->
        </div>

        <!--                    <div class="mb-3 py-3" >-->
        <form name="homeReservation"  method="post" th:object="${homeReservation}"action="/personalbooking2"  >
            <div class="row" >
                <div class="col-sm-6 dg-col">
                    <label for="smena" class="form-label">Дата начала смены</label>
                    <input  readonly name="smena_sh" id="smena" class="form-control"
                           th:value="${homeReservation.getSmena().getFormattedDate()}" />
                       <input hidden="hidden"  name="smena" th:value="${homeReservation.getSmena().getId()}">


                </div>
            </div>
            <div class="row" hidden="hidden">
                <div class="col-md-6 col-sm-12 dg-col">

                    <div th:each="el:${homeReservation.getExcursions()}">
                        <input type="text" name="excursions" th:text="${el.name}" th:value="${el.id}">
                    </div>


                </div>

                <div hidden="hidden" class="col-md-6 col-sm-12 dg-col">
                    <label  for="comment" class="form-label" >Коментарии к бронированию</label>
                    <input readonly class="form-control" name="comment"  id="comment" th:value="${homeReservation.getComment()}"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 dg-col">
                    <label  for="date_in" class="form-label">Дата прибытия</label>
                    <input name="date_in" id="date_in"  th:value="${homeReservation.getSmenaFormattedDate()}" type="date" required  class="form-control" >
                </div>
                <div class=" col-md-3 col-sm-6 dg-col">
                    <label for="time_in" class="form-label" >Время прибытия</label>
                    <input name="time_in" id="time_in" value="10:00" type="time" required class="form-control">
                </div>
                <div class=" col-md-3 col-sm-6 dg-col">
                    <label for="date_out" class="form-label">Дата отъезда</label>
                    <input name="date_out" id="date_out" th:value="${homeReservation.getEndSmenaFormattedDate()}" type="Date" required class="form-control">
                </div>
                <div class=" col-md-3 col-sm-6 dg-col">
                    <label for="time_out" class="form-label" >Время отъезда</label>
                    <input name="time_out" id="time_out" value="12:00" type="time" required class="form-control">
                </div>
            </div>
            <div id="guestinfo">
                <div class="bd-code-snippet " id="oneguestinformation_1" >
                    <div class="row">
                        <div class="col-md-8 col-sm-12 dg-col">
                            <label   for="fio_1" class="form-label" >ФИО гостя</label>
                            <input  name="fullname" id="fio_1"  th:value="${user.getFullname()}" required class="form-control" placeholder="Иванов Петр Сергеевич"
                                    onkeydown="if(event.keyCode===13){return false;}"/>
                        </div>
                        <div class="col-md-4 col-sm-12 dg-col">
                            <label   for="birthdate_1" class="form-label"  >Дата рождения</label>
                            <input  name="birthdate" id="birthdate_1"  th:value="${user.getBirthdate_Formatted()}" type="date" required class="form-control"
                                    onkeydown="if(event.keyCode===13){return false;}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-3 dg-col">
                            <label  for="email_1" class="form-label" >Email</label>
                            <input  name="email" id="email_1" th:value="${user.getEmail()}" type="email" required class="form-control"
                                    placeholder="employee@vsk.ru"
                                    onkeydown="if(event.keyCode===13){return false;}"/>
                        </div>
                        <div class="col-sm-12 col-md-3 dg-col">
                            <label  for="mobile_1" class="form-label" >Мобильный телефон</label>
                            <input class="form-control" data-mask="phone" th:value="${user.getPhone()}" id="mobile_1" name="phone" onkeydown="if(event.keyCode===13){return false;}"
                                   placeholder="+70000000000" required
                                   type="tel"/>
                        </div>
                        <div  class="col-sm-12 col-md-3 dg-col">
                            <label for="filial_1" class="form-label">Филиал</label>
                            <select name="filial" id="filial_1" required class="form-control"  th:selected="${filiallist}">
                                <option value=""  disabled="disabled">Выберите</option>
                                <option th:each="el:${filiallist}"   th:text="${el.name}"
                                        th:value="${el.getId()}" th:selected="${el.getId()==user.getFilial().getId()}"
                                ></option>
                            </select>
                        </div>
                        <div  class="col-sm-12 col-md-3 dg-col">
                            <label for="isemployee_1" class="form-label">Категория</label>
                            <select name="isemployee" id="isemployee_1" required class="form-control" >
                                <option value=""  disabled="disabled">Выберите</option>
                                <option  selected value="1">Сотрудник</option>
                                <option value="2">Агент</option>
                                <option value="3">Гость</option>
                                <option value="4">Партнер</option>
                            </select>
                        </div>

                    </div>
                </div>
                <div id="person_1">

                </div>

            </div>
            <div class="row" style="text-align: right;align-content: flex-end">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <button type="button" id="addguestbutton" class="btn  btn-sm btn-itd" style="display: unset" onclick="addGuest()">Добавить гостя</button>
                    <button hidden="hidden" type="button" id="deleteguestbutton" class="btn btn-sm btn-danger" style="display: unset"; onclick="deleteGuest()">Удалить</button>

                </div>


            </div>


            <div class="row" style="text-align: right;align-content: flex-end">
                <div class="col-12 dg-col">
                    <input type="hidden"
                           th:name="${_csrf.parameterName}"
                           th:value="${_csrf.token}"/>
                    <button type="submit" class="btn btn-lg btn-itd mt-3"  style="display: unset" th:text="'Забронировать'"></button>
                </div>
            </div>

        </form>

    </div>
</section>
<footer th:insert="~{blocks/footer ::footer}"></footer>

<script src="/js/imask.js"></script>

<script src="/js/bootstrap.bundle.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {

        inputElement = document.getElementById("mobile_1");
        maskOptions = {
            mask: '+{7}(000)000-00-00'
        }
        IMask(inputElement, maskOptions);
    })

    var i=1;
    function addGuest(){
        var deletebutton=document.getElementById("deleteguestbutton");
        deletebutton.hidden=false;
        var guestdiv=document.getElementById("person_"+i);
        var oneguest=document.getElementById("oneguestinformation_1");
        var st=oneguest.outerHTML;

        var guestdiv=document.getElementById("person_"+i);
        i++;
        j=0;
        while (st.includes("_1")){
            st=st.replace("_1","_"+i);
            console.log(++j);
        }

        std='<div id="person_'+i+'"></div>'


        guestdiv.innerHTML+=st;
        guestdiv.innerHTML+=std;
        console.log(guestdiv.innerHTML);
        {
            inputElement = document.getElementById("mobile_"+i);
            maskOptions = {
                mask: '+{7}(000)000-00-00'
            }
            IMask(inputElement, maskOptions);
        }
        document.getElementById("fio_"+i).value="";
        document.getElementById("birthdate_"+i).value="";
        document.getElementById("email_"+i).value="";
        document.getElementById("mobile_"+i).value="";
        if(i===4){
            b=document.getElementById("addguestbutton");
            b.hidden=true;
        }
    }
    function deleteGuest(){
        if(confirm("Вы действительно хотите удалить информацию о госте?")){
            personi=document.getElementById("person_"+i);
            personi.remove();
            i--;
            personi=document.getElementById("person_"+i);
            personi.innerHTML='';
            b=document.getElementById("addguestbutton");
            b.hidden=false;
            if(i===1){
                var deletebutton=document.getElementById("deleteguestbutton");
                deletebutton.hidden=true;
            }
        }
    }

</script>

</html>